<div class="jumbotron">
    <h1>API DEMO</h1>
    <p class="lead">Exploring Web APIs, how to make and utilize them.</p>
    <p><a href="https://www.asp.net/web-api" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>WebAPI Basics</h2>
        <p>This project follows the <a class="btn btn-default" href="https://www.youtube.com/watch?v=vN9NRqv7xmY">Intro to WebAPI &raquo;</a> tutorial by IAmTimCorey.</p>
    </div>
    <div class="col-md-4">
        <h2>API Controls</h2>
        <p>Resources for API controls.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>A learning project for Nochtal Balzer</h2>
        <p>Much of this work is constructed by following tutorials and research. It is a learning tool.</p>
        <p><a class="btn btn-default" href="https://github.com/Nochtal">See More Projects by Nochtal &raquo;</a></p>
    </div>
</div>
